$primary-black: #1c1c1c;
$secondary-black: #191919;
$primary-orange: #e39002;

$pure-white: #fff;
$grey: #5B5B5B;

$black-gradient: linear-gradient(180deg, rgba(28, 28, 28, 0.85) 1.42%, rgba(28, 28, 28, 0.85) 101.42%);