.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.section-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 8rem;
  text-transform: uppercase;
  color: $secondary-black;
  z-index: -10;
  cursor: default;
}

.special-color {
  color: $primary-orange
}

.casual-button {
  padding: .7em 2.2em;
  border: 1px solid $primary-orange;
  border-radius: 2px;
  color: $pure-white;
  font-family: "roboto", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: transparent;
}

.social-media-icon {
  color: $pure-white;
  padding: 1em 1em 1em 0;
  font-size: 1.5rem;
  cursor: pointer;
}