.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.section-heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 10rem;
  text-transform: uppercase;
  color: $secondary-black;
  z-index: -10;
  letter-spacing: 2px;
  cursor: default;
}

.special-color {
  color: $primary-orange
}

.casual-button {
  padding: .7em 2.2em;
  border: 1px solid $primary-orange;
  border-radius: 2px;
  color: $pure-white;
  font-family: "roboto", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: transparent;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background-color: $primary-orange;
    color: $primary-black
  }
}

.social-media-icon {
  color: $pure-white;
  padding: 1em 1em 1em 0;
  font-size: 1.5rem;
  cursor: pointer;
}

@media(min-width:768px) {
  .section-heading {
    font-size: 20rem;
  }
}

@media(min-width:992px) {
  .section-heading {
    font-size: 25rem;
  }
}

@media(min-width:1200px) {
  .section-heading {
    font-size: 30rem;
  }
}

@media(min-width:1400px) {
  .section-heading {
    font-size: 40rem;
  }
}